<nav class="navbar navbar-expand-lg navbar-light" dir="rtl" style="background-color: #D4F7EC;">
  <div class="container-fluid">
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            محصولات
          </a>
          <ul class="dropdown-menu dropdown-menu-lg-end">
            <li><a class="dropdown-item" href="#">لباس دخترانه</a></li>
            <li><a class="dropdown-item" href="#">لباس پسرانه</a></li>
            <li><a class="dropdown-item" href="#">اکسسوری</a></li>
          </ul>
        </li>
        <li>
          <a class="nav-link" href="#" role="button" data-bs-toggle="" aria-expanded="false">
            تماس با ما
          </a>
        </li>
        <li>
          <a class="nav-link" href="#" role="button" data-bs-toggle="" aria-expanded="false">
            سوالی دارید ؟
          </a>
        </li>
      </ul>
     
    </div>
    <div class="d-flex">
        
      <a mat-fab extended routerLink=".">
        <span class="mdi--truck"></span>
        پیگیری سفارشات
      </a>

    </div>
  </div>
</nav>